@import "tailwindcss";

@theme inline {
  --color-primary: #005bff;
  --color-primary-foreground: #ffffff;
  --color-card-glass: rgba(207, 207, 207, 0.28);
  --color-border: #e0e0e0;
  --color-background: #ffffff;
  --color-foreground: #000000;
  --font-body: var(--font-inter), sans-serif;
  --font-display: var(--font-display), sans-serif;
}
